arxiv==2.2.0
beautifulsoup4==4.5.1
Flask==3.1.1
fuzzywuzzy==0.18.0
matplotlib==3.8.2
networkx==3.3
nltk==3.2.1
numpy==2.2.6
openalex==0.1.0
pandas==1.5.3
plotly==5.21.0
protobuf==6.31.0
pypdf==5.5.0
PyPDF2==3.0.1
Requests==2.32.3
scikit_learn==1.2.2
seaborn==0.13.2
tensorflow_hub==0.12.0
Werkzeug==0.11.11
wordcloud==1.9.3
